/* Global Styling (Be cautious of what you put in here) */
body {
    background-color:#FDFBF5;
margin: 0;}
html * {font-family: 'Montserrat', sans-serif;
    text-decoration: none;
list-style-type: none}
/* General Hero Image */
.hero1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FDFBF5;
    text-decoration: none;
    background-image: url("https://wallpaperaccess.com/full/627752.jpg")
}
.hero1 h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}
.herobutton{
    display: block;
    width: 200px;
    padding: 1em;
    margin-top: 50px;
    border: 3px solid #FDFBF5 ;
    margin-left:auto;
    margin-right:auto;
    font-size: 1.5em;
    border-radius: 20px;
    color: white;
}
/* General Footer */
footer {
    background-color: #445560;
    max-height:400px;
}
.footerlogo {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.container{
    display: flex;
    justify-content: space-around;
}

.footerbutton {
    background-color: #3e9095;
    color: white;
}
h4 {
    color: white;
}
i {
    color:white;
}
/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Desktop view-------------------------------------- */
@media screen and (min-width:993px) {
/* Header */
.header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 70px;
    position: absolute; top:0;
    position: absolute; right: 0;
    position: absolute; left: 0;
}
/* Removed Header Elements */
.dropbtn{
    display:none
}
.logo {
    display:none
}
/* -------------------- */
.dropdown-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 40px;
margin-left: 5vw;
margin-right: 7vw;
}
.logodesktop {
    width: 160px;
    height: auto;
    padding-top: 4px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.dropdown-content a{
    text-decoration: none;
font-size: 20px;
color: #FDFBF5;
}
a:hover::after {
    transform: scaleX(1);
  }
a::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    border-radius: 50px;
    background-color: #FDFBF5;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
/* Destinations on Index */
.index-destinations {
    margin-bottom: 65px;
}
  .dest-flex {
      margin-left: 3vw;
      margin-right: 3vw;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
  }
.index-destinations h3 {
    text-align: center;
    font-size: 56px;
font-weight: bold;
}
.index-destinations h4 {
    font-size: 36px;
    text-align: center;
    font-weight: bolder;
}
.index-destinations a {
 background-color: #3e9095;
color: white;
font-size: 25px;
padding: 10px;
border-radius: 20px;
display:inline-block;
margin-bottom: 5px;
}
.dest-Lebanon, .dest-Canada, .dest-Egypt {
    width: 30%;
    background-color: #445560 ;
    border:8px solid #2a3238;
    border-radius: 10px;

}
.dest-Lebanon, .dest-Egypt {
    margin-top: 45px;
}
.dest-Lebanon img, .dest-Canada img, .dest-Egypt img {
    height: auto;
    width: 100%;
    border-radius: 3px;
}
}
/* Large Tablet View-------------------------------------- */
@media screen and (max-width:992px) {
    .header {
        background-color: #445560;
        height: 70px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: center;
        position: absolute; top:0;
        position: absolute; right: 0;
        position: absolute; left: 0;
    }
    
    .dropdown-img {
        width: 35px;
    height: auto;
    }
    
    .logo {
        width: 160px;
    height: auto;
    padding-top: 4px;
    margin-left: 30vw;
    cursor: pointer;
    }
    .dropbtn {
        color: antiquewhite;
        font-size: 16px;
        cursor: pointer;
        border: none;
        padding-top: 1vh;
        background-color: transparent;
        max-width: 15%;
    }
    
    .dropdown {
        width: 100px;
    }
    .dropdown-content {
        display: none;
        background-color: #445560;
        position: absolute;
        min-width: 150px;
        z-index: 1;
        left: 0;}
    .dropdown:hover .dropdown-content {
        display: block;
      }  
      .dropdown-content a {
        color: #FDFBF5;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      .dropdown-Lebanon {
        cursor: pointer;
        display: none;
        position: absolute;
        left: 160px;
        top: 0px;
        min-width: 160px;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      }

/* Footer Start */
footer {
    background-color: #445560;
}
.footerlogo {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.container{
    display: flex;
    justify-content: space-around;
}

.footerbutton {
    background-color: rgba(62, 144, 149, 1);
    color: white;
}
h4 {
    color: white;
}
i {
    color:white;
}


/* Footer End */
/* Destinations on Index */
.dest-Lebanon img {
    height: auto;
    width: 100%;
}
}
/* Medium Tablet View-------------------------------------- */
/* Mobile View-------------------------------------- */
@media screen and (max-width:480px) {
/* nav Bar Start*/
.header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 70px;
    position: absolute; top:0;
    position: absolute; right: 0;
    position: absolute; left: 0;
}

.dropdown-img {
    width: 35px;
height: auto;
}
.logo {
    width: 160px;
height: auto;
cursor: pointer;
}
.dropbtn {
    color: antiquewhite;
    font-size: 16px;
    cursor: pointer;
    border: none;
    padding-top: 1vh;
    background-color: transparent;
    max-width: 15%;
}
.logodesktop {
    display:none
}
.dropdown {
    width: 100px;
}
.dropdown-content {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    min-width: 150px;
    z-index: 1;
    left: 0;}
.dropdown:hover .dropdown-content {
    display: block;
  }  
  .dropdown-content a {
    color: #FDFBF5;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
/* Hero img */
.hero1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FDFBF5;
    text-decoration: none;
    background-image: url("https://lp-cms-production.imgix.net/2019-06/1444dbfb91889c964033cf90d6bc6cc9-jeita-grotto.jpg")
}
.hero1 h1 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0.5em;
}
.herobutton{
    display: block;
    width: 150px;
    padding: 1em;
    margin-top: 50px;
    border: 3px solid #FDFBF5 ;
    margin-left:auto;
    margin-right:auto;
    text-decoration: none;
    font-size: 1em;
    border-radius: 20px;
}

/* Destinations on Index */

.dest-Lebanon img {
    height: auto;
    width: 100%;
}